Makefile
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing
.deps
autom4te.cache
config.h
*~
config.log
config.status
stamp-h1
*.o
xqproxy.1
xqproxy
.*.sw[nop]
compile
